/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

 section {
  padding: 20px;
} 

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
  padding-bottom: 25px;
}

/* ---  Groups & Items --- */

/* .group {
  /* display: flex; */
  /* flex-direction: column;
} */

.group img {

  width: 100%;
}

.item {
  flex: 1;
  
}

.item-double {
  flex: 2;
 
}

.flex-layout {
  display: flex;
}




/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

header nav {
  justify-content: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #ecdbc9;
}

/* Style the unordered list*/
header nav ul {
  display: flex;
  justify-content: center;


}

header nav ul li {
  display: flex;
  list-style-type: none;
  font-size: x-small;
}

/* Style the anchor tags of the list items*/
header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

/* Style the last list items anchor*/
header nav ul li:last-child a {
  margin-right: 0;
}

/* ---  can only be on desktop view --- */
header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}


/* -------  Join Form ------- */
#join h1 {
  text-align: center;
}
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-size: 12px;
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 15px;
  width: 100%;
}

.form-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */





@media all and (min-width: 480px) {


  header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    margin:0;

  }

  .logo {
    font-size: 35px;
   


  }
  .group {
    display: flex;
  }


  .item {
    flex: 1;
  }

  .item-double {
    flex: 2;

  }

  #join {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
  }

  #join img {
    display: flex;
    flex: 2;
    width: 58%;
    height: 58%;
    padding: 10px;
  }

  .join_form {
    display: flex;
    flex: 1;

  }
  .form-space {
    flex: 1;
    
  }
  
  #about {
  
  }
  
  #download {
  
  }
  
  #blog {
  
  }

  

}

/* @media all and (min-width: 480px) { */
  /* section {
    padding: 0 10%;
  }

  header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

  }

  header nav {
    margin-top: 8px;
  }

  .logo {
    font-size: 35px;
    padding-bottom: 5px;


  }


  #join {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
  }
  #join h1{
    flex:1;
    font-size: larger;
  }

  #join img {
    flex: 2;
  }

  .group {
    flex-direction: row;
  } */



